.supply.module.css
.colsSellers {
  grid-template-columns: 4rem 8rem 1fr 8rem 1fr 6rem 8rem;
}

.colsAdsTxt {
  grid-template-columns: 4rem 1fr 10rem 8rem 6rem 8rem;
}

.validationList {
  margin: 0;
  padding-left: var(--space-md);
  font-size: var(--text-sm);
}

.tabs {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: var(--space-sm);
}
