.cost_sync.module.css
.colsNetworks {
  grid-template-columns: 10rem 1fr 8rem;
}

.colsCredentials {
  grid-template-columns: 8rem 8rem 10rem 8rem;
}

.colsHistory {
  grid-template-columns: 6rem 8rem 6rem 6rem 8rem 1fr;
}

.section {
  display: grid;
  gap: var(--space-sm);
}
